
.Todos__Inputfield{
    display: flex;
}
    


.TodosContainer .Todos__Inputfield input{
    width:20rem;
    padding: 0.7rem 0.4rem;
    border: 0;
    outline: 0;
    border-radius:2px;
}
button{
    padding: 0.1rem 0.9rem;
    background-color: #fff;
    border: 0;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
}


.TodosContainer .todos__list .todos{
    border-radius: 2px;
}
p{
    font-size: 1.1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.4rem 0.4rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
}

p .editIcon{
    margin-right: 10px;
    transition: all 0.6s ease-in-out;
}
p .IconControl:hover{
    color: green;
    cursor: pointer;
}
p .IconControl {
    transition: all 0.6s ease-in-out;
}

p .delIcon:hover{
    color: red;
    cursor: pointer;
}

.clearBtn{
  text-align: center;
  margin-top: 40px;
}
.clearBtn button{
    padding:0.4rem 1rem ;
    font-weight: bold;
    color: rgb(6, 52, 67);
}